@import "base.less";
// less 可以声明变量
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
// 混合
.borderd{
    border-top: dotted 1px black;
    border-bottom: solid 2px black;
};
// 嵌套
    body{
        // background-color: pink;
        background-color: @light-blue;
        div{
            height: 200px;
            width: 200px;
            background-color: green;
            .borderd;
            &:hover{
                background-color: red;
            };
            p{
                display: inline-block;
                height: calc(100% + 30px);
                // 还可以运算。
                width: 100px;
                background-color: purple;
            }
        }
    }
